# Analyzing Used Car Listings on eBay Kleinanzeigen
We will be working on a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.

The dataset was originally scraped and uploaded to Kaggle. The version of the dataset we are working with is a sample of 50,000 data points that was prepared by Dataquest including simulating a less-cleaned version of the data.

The data dictionary provided with data is as follows:

* dateCrawled - When this ad was first crawled. All field-values are taken from this date.
* name - Name of the car.
* seller - Whether the seller is private or a dealer.
* offerType - The type of listing
* price - The price on the ad to sell the car.
* abtest - Whether the listing is included in an A/B test.
* vehicleType - The vehicle Type.
* yearOfRegistration - The year in which which year the car was first registered.
* gearbox - The transmission type.
* powerPS - The power of the car in PS.
* model - The car model name.
* kilometer - How many kilometers the car has driven.
* monthOfRegistration - The month in which which year the car was first registered.
* fuelType - What type of fuel the car uses.
* brand - The brand of the car.
* notRepairedDamage - If the car has a damage which is not yet repaired.
* dateCreated - The date on which the eBay listing was created.
* nrOfPictures - The number of pictures in the ad.
* postalCode - The postal code for the location of the vehicle.
* lastSeenOnline - When the crawler saw this ad last online.

The aim of this project is to clean the data and analyze the included used car listings.

In [1]:
import pandas as pd
import numpy as np
import csv as csv

autos = pd.read_csv('../Datasets/autos.csv', encoding='Latin-1')
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

Our dataset contains 20 columns, most of which are stored as strings. There are a few columns with null values, but no columns have more than ~20% null values. There are some columns that contain dates stored as strings.

We'll start by cleaning the column names to make the data easier to work with.

In [2]:
autos.columns
autos_copy = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gear_box', 'power_ps', 'model',
       'kilometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']
autos.columns = autos_copy
autos.head(0)

Empty DataFrame
Columns: [date_crawled, name, seller, offer_type, price, ab_test, vehicle_type, registration_year, gear_box, power_ps, model, kilometer, registration_month, fuel_type, brand, unrepaired_damage, ad_created, nr_of_pictures, postal_code, last_seen]
Index: []

# Data Cleaning
Made changes to above column names from camel case to snake case as well as some name changes.

In [3]:
autos.describe

<bound method NDFrame.describe of                date_crawled                                          name  \
0       2016-03-24 11:52:17                                    Golf_3_1.6
1       2016-03-24 10:58:45                          A5_Sportback_2.7_Tdi
2       2016-03-14 12:52:21                Jeep_Grand_Cherokee_"Overland"
3       2016-03-17 16:54:04                            GOLF_4_1_4__3TÜRER
4       2016-03-31 17:25:20                Skoda_Fabia_1.4_TDI_PD_Classic
...                     ...                                           ...
371523  2016-03-14 17:48:27                    Suche_t4___vito_ab_6_sitze
371524  2016-03-05 19:56:21         Smart_smart_leistungssteigerung_100ps
371525  2016-03-19 18:57:12            Volkswagen_Multivan_T4_TDI_7DC_UY2
371526  2016-03-20 19:41:08                        VW_Golf_Kombi_1_9l_TDI
371527  2016-03-07 19:39:19  BMW_M135i_vollausgestattet_NP_52.720____Euro

        seller offer_type  price  ab_test vehicle_type  registration_year  \
0       privat    Angebot    480     test          NaN               1993
1       privat    Angebot  18300     test        coupe               2011
2       privat    Angebot   9800     test          suv               2004
3       privat    Angebot   1500     test   kleinwagen               2001
4       privat    Angebot   3600     test   kleinwagen               2008
...        ...        ...    ...      ...          ...                ...
371523  privat    Angebot   2200     test          NaN               2005
371524  privat    Angebot   1199     test       cabrio               2000
371525  privat    Angebot   9200     test          bus               1996
371526  privat    Angebot   3400     test        kombi               2002
371527  privat    Angebot  28990  control    limousine               2013

         gear_box  power_ps        model  kilometer  registration_month  \
0         manuell         0         golf     150000                   0
1         manuell       190          NaN     125000                   5
2       automatik       163        grand     125000                   8
3         manuell        75         golf     150000                   6
4         manuell        69        fabia      90000                   7
...           ...       ...          ...        ...                 ...
371523        NaN         0          NaN      20000                   1
371524  automatik       101       fortwo     125000                   3
371525    manuell       102  transporter     150000                   3
371526    manuell       100         golf     150000                   6
371527    manuell       320      m_reihe      50000                   8

       fuel_type           brand unrepaired_damage           ad_created  \
0         benzin      volkswagen               NaN  2016-03-24 00:00:00
1         diesel            audi                ja  2016-03-24 00:00:00
2         diesel            jeep               NaN  2016-03-14 00:00:00
3         benzin      volkswagen              nein  2016-03-17 00:00:00
4         diesel           skoda              nein  2016-03-31 00:00:00
...          ...             ...               ...                  ...
371523       NaN  sonstige_autos               NaN  2016-03-14 00:00:00
371524    benzin           smart              nein  2016-03-05 00:00:00
371525    diesel      volkswagen              nein  2016-03-19 00:00:00
371526    diesel      volkswagen               NaN  2016-03-20 00:00:00
371527    benzin             bmw              nein  2016-03-07 00:00:00

        nr_of_pictures  postal_code            last_seen
0                    0        70435  2016-04-07 03:16:57
1                    0        66954  2016-04-07 01:46:50
2                    0        90480  2016-04-05 12:47:46
3                    0        91074  2016-03-17 17:40:17
4                    0        60437  2016-04-06 10:17:21
...                ...          ...                  ...
371523               0        39576  2016-04-06 00:46:52
371524               0        26135  2016-03-11 18:17:12
371525               0        87439  2016-04-07 07:15:26
371526               0        40764  2016-03-24 12:45:21
371527               0        73326  2016-03-22 03:17:10

[371528 rows x 20 columns]>

In [6]:
autos["price"].unique()

array([  480, 18300,  9800, ..., 18429, 24895, 10985])

In [12]:
# Convert to float
autos["price"] = autos["price"].astype(float)

In [15]:
autos["kilometer"].unique()

array([150000, 125000,  90000,  40000,  30000,  70000,   5000, 100000,
        60000,  20000,  80000,  50000,  10000])

In [17]:
#Convert kilometer column to odometer_km
autos.rename({"kilometer":"odometer_km"}, axis=1, inplace = True)

# Exploring price and odometer_km columns

In [19]:
odometer_km = autos["odometer_km"]

In [20]:
# See how many unique values
odometer_km.unique().shape

(13,)

In [21]:
odometer_km.describe()

count    371528.000000
mean     125618.688228
std       40112.337051
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [23]:
odometer_km.value_counts().sort_index(ascending=False)

150000    240797
125000     38067
100000     15920
90000      12523
80000      11053
70000       9773
60000       8669
50000       7615
40000       6376
30000       6041
20000       5676
10000       1949
5000        7069
Name: odometer_km, dtype: int64

In [24]:
price = autos["price"]

In [25]:
price.unique().shape

(5597,)

In [26]:
price.describe()

count    3.715280e+05
mean     1.729514e+04
std      3.587954e+06
min      0.000000e+00
25%      1.150000e+03
50%      2.950000e+03
75%      7.200000e+03
max      2.147484e+09
Name: price, dtype: float64

In [27]:
price.value_counts().sort_index(ascending=False).head(7)

2.147484e+09     1
1.000000e+08    15
9.900000e+07     1
7.418530e+07     1
3.254546e+07     1
2.732222e+07     1
1.400050e+07     1
Name: price, dtype: int64

In [28]:
# Examining date columns
autos[["date_crawled","ad_created","last_seen"]].head()

          date_crawled           ad_created            last_seen
0  2016-03-24 11:52:17  2016-03-24 00:00:00  2016-04-07 03:16:57
1  2016-03-24 10:58:45  2016-03-24 00:00:00  2016-04-07 01:46:50
2  2016-03-14 12:52:21  2016-03-14 00:00:00  2016-04-05 12:47:46
3  2016-03-17 16:54:04  2016-03-17 00:00:00  2016-03-17 17:40:17
4  2016-03-31 17:25:20  2016-03-31 00:00:00  2016-04-06 10:17:21

In [29]:
# Get only the date
autos["date_crawled"].str[:10].value_counts(normalize=True,dropna=False)

2016-04-03    0.038735
2016-04-04    0.037612
2016-03-20    0.036353
2016-03-14    0.036275
2016-03-12    0.036194
2016-03-21    0.035739
2016-03-07    0.035690
2016-03-19    0.035292
2016-03-28    0.035112
2016-04-02    0.035079
2016-03-09    0.034210
2016-03-29    0.034170
2016-04-01    0.034116
2016-03-30    0.033529
2016-03-08    0.033454
2016-03-15    0.033451
2016-03-25    0.032934
2016-03-11    0.032727
2016-03-10    0.032563
2016-03-22    0.032469
2016-03-23    0.031971
2016-03-26    0.031965
2016-03-31    0.031885
2016-03-17    0.031661
2016-03-27    0.030275
2016-03-16    0.030148
2016-03-24    0.029912
2016-03-05    0.025551
2016-03-13    0.015735
2016-03-06    0.014462
2016-03-18    0.013127
2016-04-05    0.012823
2016-04-06    0.003163
2016-04-07    0.001620
Name: date_crawled, dtype: float64

In [30]:
autos["date_crawled"].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.025551
2016-03-06    0.014462
2016-03-07    0.035690
2016-03-08    0.033454
2016-03-09    0.034210
2016-03-10    0.032563
2016-03-11    0.032727
2016-03-12    0.036194
2016-03-13    0.015735
2016-03-14    0.036275
2016-03-15    0.033451
2016-03-16    0.030148
2016-03-17    0.031661
2016-03-18    0.013127
2016-03-19    0.035292
2016-03-20    0.036353
2016-03-21    0.035739
2016-03-22    0.032469
2016-03-23    0.031971
2016-03-24    0.029912
2016-03-25    0.032934
2016-03-26    0.031965
2016-03-27    0.030275
2016-03-28    0.035112
2016-03-29    0.034170
2016-03-30    0.033529
2016-03-31    0.031885
2016-04-01    0.034116
2016-04-02    0.035079
2016-04-03    0.038735
2016-04-04    0.037612
2016-04-05    0.012823
2016-04-06    0.003163
2016-04-07    0.001620
Name: date_crawled, dtype: float64

In [31]:
autos["ad_created"].str[:10].value_counts(normalize=True,dropna=False)

2016-04-03    0.038893
2016-04-04    0.037741
2016-03-20    0.036463
2016-03-12    0.036011
2016-03-21    0.035812
                ...
2016-01-14    0.000003
2015-11-13    0.000003
2015-08-07    0.000003
2015-11-12    0.000003
2015-06-18    0.000003
Name: ad_created, Length: 114, dtype: float64

In [32]:
autos["last_seen"].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.001292
2016-03-06    0.004134
2016-03-07    0.005262
2016-03-08    0.008056
2016-03-09    0.009994
2016-03-10    0.011563
2016-03-11    0.013046
2016-03-12    0.023401
2016-03-13    0.008489
2016-03-14    0.012301
2016-03-15    0.016411
2016-03-16    0.016419
2016-03-17    0.028760
2016-03-18    0.006931
2016-03-19    0.016314
2016-03-20    0.019915
2016-03-21    0.020136
2016-03-22    0.020607
2016-03-23    0.018149
2016-03-24    0.019237
2016-03-25    0.019097
2016-03-26    0.016160
2016-03-27    0.016909
2016-03-28    0.022273
2016-03-29    0.023312
2016-03-30    0.023856
2016-03-31    0.024238
2016-04-01    0.024022
2016-04-02    0.025016
2016-04-03    0.025366
2016-04-04    0.025654
2016-04-05    0.126206
2016-04-06    0.217830
2016-04-07    0.129648
Name: last_seen, dtype: float64

In [33]:
autos["registration_year"].describe()

count    371528.000000
mean       2004.577997
std          92.866598
min        1000.000000
25%        1999.000000
50%        2003.000000
75%        2008.000000
max        9999.000000
Name: registration_year, dtype: float64

In [34]:
autos["registration_year"].unique()

array([1993, 2011, 2004, 2001, 2008, 1995, 1980, 2014, 1998, 2005, 1910,
       2016, 2007, 2009, 2002, 2018, 1997, 1990, 2017, 1981, 2003, 1994,
       1991, 1984, 2006, 1999, 2012, 2010, 2000, 1992, 2013, 1996, 1985,
       1989, 2015, 1968, 1982, 1976, 1983, 1959, 1973, 1111, 1969, 1971,
       1987, 1986, 1988, 1967, 1970, 1965, 1945, 1925, 1974, 1979, 1955,
       1978, 1972, 1977, 1961, 1963, 1964, 1960, 1966, 1975, 1937, 1936,
       5000, 1954, 1958, 9999, 1956, 3200, 1000, 1933, 1941, 1962, 8888,
       1500, 2200, 4100, 1929, 1951, 1957, 1940, 3000, 2066, 1949, 2019,
       1800, 1953, 1935, 1234, 8000, 5300, 9000, 2900, 6000, 5900, 5911,
       1400, 1950, 4000, 1948, 1952, 1200, 8500, 1932, 1255, 1927, 1923,
       1931, 3700, 3800, 4800, 1942, 7000, 1911, 6500, 2290, 2500, 1930,
       1001, 6200, 9450, 1944, 1943, 1947, 1934, 1938, 1688, 2800, 1253,
       1928, 7500, 1919, 5555, 7777, 5600, 1600, 1939, 2222, 1039, 9996,
       1300, 8455, 1915, 4500, 1920, 1602, 7800, 9229, 1946, 7100, 8200,
       3500])

In [35]:
condition = (autos["registration_year"]<1900) | (autos["registration_year"]>2016)
autos[condition].shape

(14748, 20)

In [36]:
autos[~condition]["registration_year"].describe()

count    356780.000000
mean       2002.779805
std           7.395775
min        1910.000000
25%        1999.000000
50%        2003.000000
75%        2008.000000
max        2016.000000
Name: registration_year, dtype: float64

In [37]:
# Remove false data
autos = autos[~condition]

In [38]:
autos["registration_year"].value_counts(normalize=True).head(10)

2000    0.068813
1999    0.063812
2005    0.062548
2006    0.056702
2001    0.056668
2003    0.055701
2004    0.055345
2002    0.053784
1998    0.050314
2007    0.049535
Name: registration_year, dtype: float64

# Exploring price by brand

In [39]:
# We take the top 20 brands
brands = autos["brand"].value_counts().head(6)

In [40]:
price_by_brand = {}

for b in brands.index:
    rows = autos[autos["brand"]==b]
    mean_price = rows["price"].mean()
    price_by_brand[b]=int(mean_price)

In [41]:
price_by_brand

{'volkswagen': 13643,
 'bmw': 14798,
 'opel': 3248,
 'mercedes_benz': 17614,
 'audi': 16218,
 'ford': 8702}

# Exploring mileage by brand

In [42]:
mileage_by_brand = {}

for b in brands.index:
    rows = autos[autos["brand"]==b]
    mean_mileage = rows["odometer_km"].mean()
    mileage_by_brand[b]=int(mean_mileage)

In [44]:
mileage_by_brand

{'volkswagen': 128337,
 'bmw': 132657,
 'opel': 128755,
 'mercedes_benz': 130580,
 'audi': 129491,
 'ford': 123618}

In [45]:
# Convert both dictionaries in Series
pbb = pd.Series(price_by_brand)
mbb = pd.Series(mileage_by_brand)

In [46]:
pbb

volkswagen       13643
bmw              14798
opel              3248
mercedes_benz    17614
audi             16218
ford              8702
dtype: int64

In [47]:
mean_price_mileage = pd.DataFrame(pbb, columns=["mean_price"])

In [48]:
mean_price_mileage["mean_mileage"] = mbb

In [ ]:
mean_price_mileage